<div class="contain">
  <div class="row">
    <div class="desc-container">
      <h3>CATEGORY :</h3>
      <h4> {{getParamId.replace('_',' ') | capitalizeWords}}</h4>
    </div>

    <div class="rowposter">
      <ng-container *ngFor="let item of movieResult">
        <app-movie-card [movie]="item"></app-movie-card>
      </ng-container>

      <div *ngIf="hasMoreData" infinite-scroll [infiniteScrollDistance]="scrollDistance"
        [infiniteScrollUpDistance]="scrollUpDistance" (scrolled)="loadMoreMovies()">
        Loading...
      </div>
    </div>
  </div>
</div>