<div class="contain mt-3 mb-5 p-4">
  <div class="contain mt-3 mb-5 p-4">
    <div class="row">
      <div class="desc-container">
        <h3>GENRE :</h3>
        <h4> {{getGenre()}}</h4>
      </div>
      <div class="rowposter mt-3 p-2">
        <ng-container *ngFor="let t of movieResult">
          <div class="card-container">
            <ng-container *ngIf="t.poster_path; else noPoster">
              <img src="https://image.tmdb.org/t/p/original{{ t.poster_path }}" class="rowimg largeposter" alt="..."
                [routerLink]="['/movie', t.id]">
            </ng-container>
            <ng-template #noPoster>
              <div class="no-poster">
                <h3>No Poster Available</h3>
                <h3>404</h3>
              </div>
            </ng-template>
            <div class="title-container">
              <a [routerLink]="[' /movie', t.id]">
                <h5>{{t.title}}</h5>
              </a>
            </div>
            <div class="rating-star">
              <ng-container *ngFor="let _ of [1, 2, 3, 4, 5]; let i = index">
                <span *ngIf="getFilledStars(t.vote_average, _)" class="fa fa-star filled-star"></span>
                <span *ngIf="getHalfStars(t.vote_average, _)" class="fa fa-star-half-o filled-star"></span>
                <span *ngIf="getEmptyStars(t.vote_average, _)" class="fa fa-star-o"></span>
              </ng-container>
            </div>
            <div class="control-container">
              <h6>Rating : {{t.vote_average}}</h6>
              <button class="fav-button">
                <span class="fa fa-heart"></span>
                <span>Favorites</span>
              </button>
            </div>
          </div>
        </ng-container>

        <div *ngIf="hasMoreData" infinite-scroll [infiniteScrollDistance]="scrollDistance"
          [infiniteScrollUpDistance]="scrollUpDistance" (scrolled)="loadMoreMovies()">
          <ngx-spinner bdColor="" size="small" color="#333" type="line-scale-party" [fullScreen]="false"></ngx-spinner>
          <!-- loading... -->
        </div>

      </div>
    </div>
  </div>
</div>