<div class="contain mt-3 mb-5 p-4">
  <div class="contain mt-3 mb-5 p-4">
    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/dcpcwARBMJ4">

      </iframe>
    </div>
    <div class="info-container">
      <div class="image-container">
        <div *ngIf="getMovieDetailResult.poster_path">
          <img src="https://image.tmdb.org/t/p/original/{{ getMovieDetailResult.poster_path }}">
        </div>
      </div>

      <div class="detail-container">
        <h1> JUDUL FILM</h1>
        <h2> JUDUL KECIL</h2>
      </div>
    </div>
  </div>