<div class="contain">

  <div *ngIf="getMovieDetailResult" class="info-container">
    <div class="image-container">
      <div *ngIf="getMovieDetailResult?.poster_path">
        <img src="https://image.tmdb.org/t/p/original/{{ getMovieDetailResult!.poster_path }}">
      </div>
    </div>

    <div class="detail-container">
      <h3>{{getMovieDetailResult.title | uppercase}}</h3>
      <h6>{{getMovieDetailResult.tagline | uppercase}}</h6>

      <div class="rating-container">
        <div class="rating-star">
          <ng-container *ngFor="let _ of [1, 2, 3, 4, 5]; let i = index">
            <span *ngIf="starService.getFilledStars(getMovieDetailResult.vote_average, _)"
              class="fa fa-star filled-star"></span>
            <span *ngIf="starService.getHalfStars(getMovieDetailResult.vote_average, _)"
              class="fa fa-star-half-o filled-star"></span>
            <span *ngIf="starService.getEmptyStars(getMovieDetailResult.vote_average, _)" class="fa fa-star-o"></span>
          </ng-container>
        </div>
        <div class="vid-info">
          <span>{{getMovieDetailResult.spoken_languages[0].english_name | uppercase}} /
            {{getMovieDetailResult.runtime}} MIN. / {{getMovieDetailResult.release_date | slice:0:4}}</span>
        </div>
      </div>

      <div class="genre-container">
        <h5>THE GENRES</h5>
        <div class="data-con">
          <div class="genre" *ngFor="let item of getMovieDetailResult?.genres">
            <span class="fa fa-dot-circle-o"></span>
            <span>{{item.name}}</span>
          </div>
        </div>
      </div>

      <div class="sinop-container">
        <h5>THE SYNOPSIS</h5>
        <span>{{getMovieDetailResult.overview}}</span>
      </div>

      <div class="more-container">
        <h5>LEARN MORE</h5>
        <div class="button-container">
          <button (click)="goWebsite(getMovieDetailResult.homepage)">Website <span class="fa fa-link"></span></button>
          <button (click)="goIMDB(getMovieDetailResult.imdb_id)">IMDB <span class="fa fa-film"></span></button>
          <button (click)="goTrailer(getMovieVideoResult)">Trailer <span class="fa fa-play-circle-o"></span></button>
          <button class="back-button"><span class="fa fa-arrow-circle-left" (click)="goBack()"> Back</span></button>
        </div>
      </div>

    </div>