.contain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

  .info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;

    .image-container {
      width: 390px;
      height: 580px;
      padding: 30px 20px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      margin-bottom: 30px;
      img {
        width: 350px;
        height: auto;
      }
    }

    .detail-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 600px;
      padding: 0px 30px;

      h3 {
        width: 100%;
        font-weight: bold;
        color: tomato;
      }
      h6 {
        font-weight: lighter;
        text-align: justify;
        color: #333333;
      }

      .rating-container {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .rating-star {
          margin: 10px 0px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 150px;

          .filled-star {
            color: yellow;
            text-shadow: 0 0 1px #000;
            font-size: 20px;
          }

          span {
            font-size: 20px;
          }
        }

        .vid-info {
          margin: 10px 0px;
        }
      }

      .genre-container {
        width: 100%;
        margin-top: 30px;

        .data-con {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;

          .genre {
            margin-right: 15px;

            .fa {
              margin-right: 10px;
              font-size: larger;
              color: tomato;
            }
          }
        }
      }

      .sinop-container {
        width: 100%;
        text-align: justify;
        margin-top: 30px;
      }

      .cast-container {
        width: 100%;
        margin-top: 30px;
        row {
          display: flex;
          flex-direction: column;
          img {
            width: auto;
            height: 200px;
          }
        }
      }

      .more-container {
        width: 100%;
        margin-top: 30px;
        .button-container {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;
          margin-bottom: 20px;

          button {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            border: none;
            height: 40px;
            width: 120px;
            font-size: 15px;
            background-color: #000;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            padding: 0px 20px;
            margin: 20px 0px;
            margin-right: 20px;
          }
          button:hover {
            background-color: tomato;
            color: #fbfbfb;
            transition: 0.5s;
          }

          .back-button {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            border: none;
            height: 40px;
            width: 120px;
            font-size: 15px;
            background-color: teal;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            padding: 0px 20px;
            margin: 20px 0px;
          }
        }
      }
    }
  }
}
