.navbar .navbar-brand {
  display: flex;
  flex-direction: column;
  color: #d90166;
  text-shadow: 0 0 1px #fbfbfb;
  font-weight: lighter;
  font-size: 12px;

  img {
    height: 30px;
  }

  p {
    position: relative;
    top: -10px;
    text-align: right;
    margin: 0px;
  }
}

.navbar-nav .nav-item .nav-link {
  color: #d90166;
  text-shadow: 0 0 1px #fbfbfb;
  padding-left: 10px;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #333;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.4s;
  cursor: pointer;
}

.navbar .navbar-brand:hover {
  color: #333;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.4s;
}

.wrap {
  padding: 5px;

  input {
    height: 30px;
    width: 200px;
    border: 1px solid #d90166;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 14px;
  }

  input:focus {
    border: 1px solid #fbfbfb;
  }

  button {
    border: none;
    padding-left: 5px;
    background-color: transparent;
    color: #d90166;
  }
}
