.navbar .navbar-brand
{
    color: #d90166;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link
{
    color: #d90166;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #333;
  text-shadow:  rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.4s;
}

.navbar .navbar-brand:hover {
  color: #333;
  text-shadow:  rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.4s;
}
