$color-pink: tomato;
$color-white: #fbfbfb;
$color-gray: #333;
$color-shadow: rgba(0, 0, 0, 0.24);

@mixin flex-center {
  display: flex;
  flex-direction: column;
}

.navbar .navbar-brand {
  @include flex-center;
  color: $color-pink;
  text-shadow: 0 0 1px $color-white;
  font-weight: lighter;
  font-size: 12px;

  img {
    margin-left: 20px;
    height: 40px;
    width: auto;
  }

  p {
    text-align: right;
    margin: 0;
  }

  &:hover {
    color: $color-gray;
    text-shadow: $color-shadow 0px 3px 8px;
    transition: 0.4s;
  }
}

.navbar-nav .nav-item .nav-link {
  color: $color-pink;
  text-shadow: 0 0 1px $color-white;
  padding-left: 10px;

  &:hover {
    color: $color-gray;
    text-shadow: $color-shadow 0px 3px 8px;
    transition: 0.4s;
    cursor: pointer;
  }
}

.wrap {
  padding: 5px;

  input {
    height: 30px;
    width: 200px;
    border: 1px solid $color-pink;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 14px;

    &:focus {
      border: 1px solid $color-white;
    }
  }

  button {
    border: none;
    padding-left: 5px;
    background-color: transparent;
    color: $color-pink;
  }
}
