<div class="contain">
  <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
    <div class="row-input">
      <div class="input">
        <input type="text" class="form-control" formControlName="movieName" placeholder="Serch Movie Here ...">
      </div>
      <div class="search">
        <button class="btn btn-md">Search</button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="desc-container">
      <h3>Search Results :</h3>
    </div>
    <div class="rowposter">
      <ng-container *ngFor="let item of searchResult">
        <app-movie-card [movie]="item"></app-movie-card>
      </ng-container>
    </div>
  </div>
</div>

<div *ngIf="searchResult.length === 0">
  <h2 style="width: 100%; display: grid; place-items: center;">No Movies Found!</h2>
</div>