.carousel-inner
{
    height: 700px;
}

.carousel-inner .carousel-item img
{
    height: 700px;
    object-fit: cover;
}

.carousel-caption h2
{
    color: #d90166;
    font-weight: bold;
    font-size: 30px;
}

.carousel-caption p
{
    color: #333333;
}

.rowposter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    width: 100vw;
}

.rowimg
{
    height: 500px;
    object-fit: contain;
    box-sizing: content-box;
    transition: transform 450ms;
    margin-right: 7px;
    margin: 20px;
}

.largeposter{
    height: 500px;
    width: 300px;
}

.largeposter:hover {
  cursor: pointer;
}

h4 {
  color: #d90166;
  text-align: center;
  font-weight: bold;
}

ng-container {
  display: flex;
  flex-direction: column;
}

